:root {
  --dark-color: hsl(0, 0%, 7%);
  --light-color: hsl(0, 0%, 95%);
  --body-font-color: var(--dark-color);
  --body-background-color: var(--light-color);
  --focus-visible-outline-color: var(--dark-color);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --body-font-color: var(--light-color);
    --body-background-color: var(--dark-color);
    --focus-visible-outline-color: var(--light-color);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-background-color);
  padding: clamp(1.25rem, 4vw, 2rem);
  min-height: 100vh;
  color: var(--body-font-color);
  font-size: clamp(1rem, calc(0.9rem + 0.49vw), 1.25rem);
  line-height: 1.5;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  flex-direction: column;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.no-js header,
.no-js main,
.no-js footer {
  display: none;
}

input {
  display: block;
  width: 100%;
}

input:focus-visible {
  outline: 0.125rem dashed var(--focus-visible-outline-color);
  outline-offset: 0.125rem;
}

main {
  max-width: 25rem;
}

.flow > * + * {
  margin-top: 2em;
}

.value {
  -webkit-margin-before: 0.625rem;
  margin-block-start: 0.625rem;
}
